<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>条件渲染</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="root">
    <!-- 在 <template> 元素上使用 v-if 条件渲染分组 -->
    <!-- 因为 v-if 是一个指令，所以必须将它添加到一个元素上。
    但是如果想切换多个元素呢？此时可以把一个 <template> 元素当做不可见的包裹元素，
    并在上面使用 v-if。最终的渲染结果将不包含 <template> 元素 -->
    <template v-if="ok">
      <h1>Title</h1>
      <p>Paragraph 1</p>
      <p>Paragraph 2</p>
    </template>
    <!-- 用 key 管理可复用的元素 -->
    <!-- Vue 会尽可能高效地渲染元素，通常会复用已有元素而不是从头开始渲染。
    这么做使 Vue 变得非常快，但是在某些场景之下，有的复用不符合实际需求，
    此时，Vue 为你提供了一种方式来表达“这两个元素是完全独立的，不要复用它们”。
    只需添加一个具有唯一值的 key attribute 即可： -->
    <template v-if="loginType === 'username'">
      <label>Username</label>
      <input placeholder="Enter your username" key="username-input">
    </template>
    <template v-else>
      <label>Email</label>
      <input placeholder="Enter your email address" key="email-input">
    </template>
    <button @click="toggleLoginType">toggle login type</button>
  </div>
  <script>
    // 注意，v-show 不支持 <template> 元素，也不支持 v-else。
    // 不推荐同时使用 v-if 和 v-for。
    new Vue({
      el: '#root',
      data: {
        ok: true,
        loginType: 'username'
      },
      methods: {
        toggleLoginType() {
          if (this.loginType === 'username') {
            this.loginType = 'Email'
          } else {
            this.loginType = 'username'
          }
        }
      }
    })
  </script>
</body>
</html>